ENV=development
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=shadowpulse

SECRET_KEY=replace_with_a_long_random_string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720

AGENT_API_KEY=CHANGE_ME_AGENT_SHARED_SECRET

ANOMALY_CONTAMINATION=0.05
THREAT_THRESHOLD_ALERT=60
